header {
    display: flex;
    background-color:darkslategray;
    font-size: 20px;
    justify-content: space-between;
    color: darkslategray;
    padding: -20px 0px;
    
    
}

header div ul {
    display: flex;
    min-width: 600px;
    margin-bottom: 1%;
    padding-right: 100px;
    list-style: none;
    justify-content: space-between;
    color:beige;
}

header div ul li {
    position: relative;
    font-size: 24px;
}

header div ul li::before {
    content: "";
    position: absolute;
    width: 110%; 
    height: 4px; 
    background-color:beige; 
    bottom: -3px; 
    left: -5%; 
}

header div ul li a {
    color: beige;
}

header a {
    text-decoration: none;
    
}


header div {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 20px; 
}

.page-title {
    background-color: beige;
    padding: 8px;
    display: inline-block;
    padding-left: 100px;
    
    
}

body {
    margin: 0;
    padding: 0;
    
}

nav {
    padding: 90px; 
    position: relative;
    background-image: url(/Users/landonjett/bootcamp/homework/even/jett-portfolio/assets/images/rocky-landscape.jpeg);
    background-size: cover;
    background-position: center;
    
}

nav::before {
    content: "";
    background: rgba(245, 245, 220, 0.3); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}

h2 {
    position: absolute; 
    top: 0; 
    right: 50px; 
    font-size: 45px;
    color: darkslategrey;
    padding: 8px;
    border: 2px solid darkslategray;
    z-index: 2;
}


.card {
    display: flex;
    margin-bottom: 100px;
}

h3 {
    flex: 0 0 20%;
    padding: 20px;
    border-right: 3px solid darkslategray;
    color: darkslategray;
    font-size: 50px;
    text-align: end;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

section p {
    
    font-size: 20px;
    text-align: center;
    color: darkslategray;
    margin: 10px;
}

article ul {
    display: flex;
    margin-bottom: 1%;
    list-style: none;
    justify-content: space-evenly;
    color: darkslategray;
    text-align: center;
    
}

article ul li {
    position: relative;
    font-size: 24px;
}

article ul li::before {

    content: "";
    position: absolute;
    width: 105%; 
    height: 4px; 
    background-color: darkslategray;
    bottom: -3px; 
    
}

.large-box {
    padding: 200px; 
    border: 3px solid darkslategray; 
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-image: url(images/desert-1.webp);
    color: beige;
    margin: 10px;
    position: relative;
    background-size: cover;
}

.large-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 220, 0.3); 
    z-index: 1; 
    transition: opacity 0.3s ease; 
}


article h4 {
    background-color: darkslategray;
    padding: 8px;
    display: inline-block;
    padding-left: 100px;
}

article p {
    background-color: darkslategray;
    padding: 8px;
    display: inline-block;
    padding-left: 100px;
}

.small-box {
    border: 3px solid darkslategray;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    z-index: 1;
    color: beige;
    margin: 10px;
    position: relative; 
    background-size: cover;
    padding: 50px;
    flex: 0 0 50%;
}

.small-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 245, 220, 0.3); 
    z-index: -1; 
    transition: opacity 0.3s ease; 
}

.large-box:hover::before,
.small-box:hover::before {
    opacity: 0; 
}

.samples .small-box main article {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2; 
}

.small-box:nth-child(2) {
    background-image: url(./images/desert-2.webp);
}

.small-box:nth-child(3) {
    background-image: url(./images/desert-3.webp);
}

.small-box:nth-child(4) {
    background-image: url(./images/desert-4.webp);
}

.small-box:nth-child(5) {
    background-image: url(./images/desert-5.webp);
}




.box-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0;
    
}


.large-box main {
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
    margin: 0;
    padding: 300px 20px 5px 0; 
    height: 100%;
    box-sizing: border-box;
}

div.large-box {

    padding-left: 0%;
    padding-bottom: 0;
    padding-top: 100px;
}

div.small-box {

    padding-left: 0%;
    padding-bottom: 5px;
    padding-top: 80px;
}
h4 {
    padding: 0;
    margin: 0;
}

.box-content p {

    margin: 0;
    font-size: 12px;
}



@media only screen and (max-width: 768px) {
    header div ul {
        padding-right: 20px; 
    }

    .page-title {
        padding-left: 20px; 
    }

    nav {
        padding: 50px; 
    }

    .large-box main {
        padding: 200px 20px 5px 0; 
    }

    div.large-box {
        padding-top: 50px; 
    }

    div.small-box {
        padding-top: 50px; 
    }
}
